$background-color-hover: #ae6a5336;
$main-background: #ae6953;
$main-border: burlywood ridge;
$main-text-color: #eec170;
$image-border: ridge 10px #762323;
$input-background: rgba(222, 184, 135, 0.387);
$input-hover-background: #ae6a534e;
$button-hover-color: #585123;
$button-background-color: rgba(222, 184, 135, 0.832);
